@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);


  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

html {
  max-width: 1920px;
  margin: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.custom-slider {
  appearance: none;
  height: 4px;
  background: #d9d9d9;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

/* WebKit (Chrome, Safari, Edge) */
.custom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #13CA35;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -4px;
  /* align with track */
}

.custom-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #d9d9d9;
  border-radius: 2px;
}

/* Firefox */
.custom-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #13CA35;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.custom-slider::-moz-range-track {
  height: 4px;
  background: #13CA35;
  border-radius: 2px;
}